/**
 * SPDX-FileCopyrightText: (c) 2016 Olivier Churlaud <olivier@churlaud.com>
 * SPDX-FileCopyrightText: (c) 2020 Carson Black <uhhadd@gmail.com>
 * SPDX-FileCopyrightText: (c) 2020 Carl Schwan <carl@carlschwan.eu>
 * 
 * SPDX-License-Identifier: LGPL-3.0-or-later
 */
$md: 767px;

:root {
  --base: white;
  --on-base: black;
  --plasma-blue: #54a3d8;
  --on-plasma-blue: white;
  --card: white;
  --on-card: black;
  --borders: rgba(0,0,0,0.3);
  --borders-faint: rgba(0,0,0,0.1);
  --list-header-bg: #eff0f1;
}

@media (prefers-color-scheme: dark) {
  table tr:nth-child(odd) {
    background-color: transparent !important;
  }
  .mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    background-color: transparent !important;
  }
  :root {
    --base: #232629;
    --on-base: #eff0f1;
    --card: rgba(255,255,255,0.1);
    --on-card: #eff0f1;
    --borders: rgba(255,255,255,0.2);
    --borders-faint: rgba(255,255,255,0.05);
    --plasma-blue: #98c8e8;
    --on-plasma-blue: black;
    --list-header-bg: #31363b;

    background-color: var(--base);
  }
}

@mixin content-width {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: $md) {
    min-width: 97vw;
  }
}

body {
  background: var(--base);
}

html {
  font-family: "Noto Sans",Verdana, Geneva, Arial, sans-serif;
  font-size: 16px;

  @media (max-width: 900px) {
    font-size: 15px;
  }
}

.body {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "sidebar header"
    "sidebar content";

  &.no-js {
    @media (max-width: $md) {
      grid-template-columns: auto;
      grid-template-rows: 50px auto auto;
      grid-template-areas:
        "header"
        "sidebar"
        "content";
    }

    .navbar-toggler {
      display: none;
    }

    .sidebar {
      display: block;
    }
  }

  @media (max-width: $md) {
    grid-template-columns: 0 auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
      "sidebar header"
      "sidebar content";
    .sidebar {
      display: none;
    }

    &.sidebar-active {
      grid-template-columns: 300px auto;
      grid-template-rows: 50px auto;
      grid-template-areas:
        "sidebar header"
        "sidebar content";

      .sidebar {
        display: block;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
        scrollbar-width: none;
        overflow-y: scroll;
        padding-bottom: 40px;
        scrollbar-width: 0;
      }

      .header {
        position: fixed;
        left: 300px;
        top: 0;
      }

      .content {
        overflow: hidden;
        max-width: 100%;
        position: fixed;
        left: 300px;
        top: 50px;
      }
    }
  }
}

.header {
  grid-area: header;

  .navbar-nav.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0;
    height: 100%;
    background-color: transparent;
    max-height: 46px;

    @include content-width;

    @media (max-width: $md) {
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .breadcrumb-link {
      padding: 13px .2rem;
      font-size: 20px;

      @media (max-width: 1000px) {
        font-size: 1.1rem;
      }

      @media (max-width: $md) {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: $md) {
  .navbar-toggler {
    display: none;
  }
}

.sidebar {
  background-color: var(--base);
  grid-area: sidebar;
  max-width: 100vw;
}

.content {
  grid-area: content;
  margin-top: 20px;

  & > * {
    @include content-width;
  }
  
  h1.content-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
  }
  .header {
    display: none;
  }
}

.content > footer {
  width: 100%;
}

main::after {
  display: none !important;
}

@media (min-width: 768px) {
  .sidebar {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    scrollbar-width: none;
    overflow-y: scroll;
    padding-bottom: 40px;
    scrollbar-width: 0;
  }
  .sidebar::-webkit-scrollbar {
    width: 0;
  }
}

#sidebar-header {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--plasma-blue);
  color: var(--on-plasma-blue);
  text-align: center;
  padding: 0;

  a {
    color: white;
  }

  h2 {
    font-size: 25px;
    font-weight: 700;
  }

  .menu-title {
    margin: auto;
  }

  @media (prefers-color-scheme: dark) {
    #sidebar-header {
      background-color: var(--card);
      color: var(--on-card);
    }
  }
}



@media (max-width: $md) {
  .navbar-nav {
    margin: 0;
  }
  #sidebar-header {
    display: none;
  }
}

.mw-editsection  {
  font-size: 1.5rem;
  margin-left: 1rem;
}

footer {
  padding: 15px 0px 5px 0px;
  margin-bottom: 0px;
}


.bg-primary {
  background-color: var(--plasma-blue) !important;
  color: var(--on-plasma-blue) !important;
}

@media (prefers-color-scheme: dark) {
  .bg-primary {
    background-color: var(--card) !important;
    color: var(--on-card) !important;
  }
}

footer.bg-primary {
  background-color: transparent !important;
  color: var(--on-base) !important;
}

.mw-pt-languages {
  margin-bottom: 1rem;
}

.menu-box {
  padding: 0.7em 0 0 0;
  .menu-content {
    margin: 0 7px 0 10px;
  }
  ul {
    list-style-type: none;
    list-style-position:inside;
    margin: 0 0 0 1.3em;
    padding:0;
  }
}

.menu-title {
  padding:0;
  margin-bottom: 0.5rem;
  background-color: var(--list-header-bg);
}

#sidebar-header .menu-title {
  background-color: transparent;
}

.menu-title h2 {
  margin: 0;
  padding: 0.4em 1.3em 0.2em 1.3em;
  line-height:1.2em;
  font-size: 1.2em;
  font-weight: normal;
}

a {
  color: var(--plasma-blue);
}

.menu-content {
  dl {
    list-style-position: inside;
    margin: 0;
    padding: 0;
  
    dd {
      list-style-position: inside;
      margin: 0 0 0 1.3em;
      padding: 0;
    }
  }
}


/**
 * Frontpage
 */

.product-row {
  background: var(--card);
  color: var(--on-card);
  border: 1px solid var(--borders);
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 15px;
  transition: all 0.3s;

  h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
  }

  &:hover {
    border: 1px solid transparent;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    transform: translateY(-2);
    transition: all 0.3s;
  }
}

table.fieldtable {
  width: initial;
  border: 1px solid var(--borders);
  border-radius: 0px;
  box-shadow: none;
}

.fieldtable th {
  background-image: none;
  background-color: rgba(0,0,0,.2);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 1px solid var(--borders-faint);
}

.fieldtable td.fieldtype, .fieldtable td.fieldname {
  border-bottom: 1px solid var(--borders-faint);
  border-right: 1px solid var(--borders-faint);
}

.fieldtable td.fielddoc {
  border-bottom: 1px solid var(--borders-faint);
}

table.params .paramname {
  padding-right: 10px;
}

.product-logo {
  margin-top: .5em;
}

.kde-product-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kde-product-column {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/**
 * Subgroup
 */

table.libraries {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
}

table.libraries td, table.libraries th {
  border: solid 1px var(--borders);
}

table.libraries h3 {
  margin: 0;
  padding: 0;
}

table.libraries td {
  padding: 0.5em;
}

table.libraries th {
  background: var(--plasma-blue);
  color: var(--on-plasma-blue);
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  table.libraries th {
    background: var(--card);
    color: var(--on-card);
  }
}

.library-main-column {
  vertical-align: top;
}

.library-detail-column {
  text-align: center;
  width: 120px;
}

.library-fancyname {
  font-size: 120%;
}

.library-platforms {
  float: right;
  font-size: 80%;
}

.library-platform {
  color: #666;
  padding-left: 6px;
  margin-left: 6px;
  border-left: 1px solid #ccc;
}

.library-platform:first-child {
  padding-left: 0;
  border-left: none;
}

.library-platform a {
  text-decoration: none;
}

.library-platform-unsupported .library-platform-text {
  text-decoration: line-through;
  color: #aaa;
}

/* Platform filtering --------------------------------*/
.not-available-indicator, .available-indicator {
  display: none;
  float: left;
  padding-right: 0.5em;
}

.not-available .not-available-indicator {
  display: inline;
}

.available .available-indicator {
  display: inline;
}

.not-available {
  background-color: rgba(233, 61, 87, 0.2);
}

.not-available .library-description {
  display: none;
}

.library-platform-required .library-platform-text {
  color: green;
}

.library-platform-required.library-platform-unsupported .library-platform-text {
  color: red;
}

.warning-tooltip {
  width: 15px;
}

/* Platform note -------------------------------------*/
.note-tip {
  display: none;
  z-index: 3000;
  position: absolute;

  background-color: #222;
  color: white;
  padding: 6px;
  border-radius: 5px;
}

a.note-close, a.note-close:active, a.note-close:visited {
  color: white;
  text-decoration: none;
  margin-left: 6px;
}



.copyrights {
  border-top: 1px solid var(--borders);
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;
  color: var(--on-base);
}

hr {
  border-color: var(--borders-faint);
}

/****
 * Search page loader
 * Shamelessly taken from https://www.w3schools.com/howto/howto_css_loader.asp
 ****/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  margin-top: 5%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*****
 * Doxygen
 *****/

/* Provided by Doxygen, redundant, because already in our header */
div.headertitle, div#top {
  display: none;
}

div.header {
  background-image: none;
  background-color: none;
  margin: 0px;
  border: none;
}

/**
 * classes
 */

.memtitle {
  display: none;
}

.memdoc {
  border: 0;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.memproto, dl.reflist dt {
  background: var(--plasma-blue);
  color: var(--on-plasma-blue);
  border-radius: 0;
  text-shadow: initial;
  a.el {
    color: beige;
  }
}

.memname {
  color: var(--on-plasma-blue);
  text-shadow: none;
}

@media (prefers-color-scheme: dark) {
  table {
    background-color: transparent !important;
    color: var(--on-base) !important;
  }
  .memproto, dl.reflist dt {
    background: var(--card) !important;
    color: var(--on-card) !important;
  }
  .memname {
    color: var(--on-card);
  }
  table.mlabels tr, table.memberdecls tr.heading, .mlabels tr, .memproto table tr, table.params tr {
    background-color: transparent !important;
    color: var(--on-base) !important;
  }
  div.memproto {
    border: 0;
  }
}

.memdoc, dl.refllist dd {
  background: var(--card);
  color: var(--on-card);
}

.memSeparator {
  border-color: var(--borders);
}

.mdescLeft, .mdescRight, .memItemLeft, .memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams {
  background: var(--card);
  color: var(--on-card);
  border-color: var(--borders);
}

.memproto a.elRef,
.memproto a.el {
  color: #ccccee;
  font-weight: bold;
}

.memproto .paramtype {
  font-weight: bold;
}

.memproto .paramname {
  color: #f7800a;
  font-weight: bold;
}

.memproto span.mlabel {
  padding: 6px;
  border: 0;
  border-radius: 4px;
  background: var(--base);
  color: var(--on-base);
}

.additional_info {
  margin-top: 10px;
}

table.directory tr {
  background-color: transparent !important;
  color: var(--on-base);
}
table.directory tr.even {
    background-color: transparent !important;
    color: var(--on-base);
}

/**
 * Fragments
 */
.fragment .line {
  line-height: 1.4;
  white-space: pre;
}

/* Use div.fragment, not pre.fragment. pre.fragment is used for @verbatim blocks, which must keep their border */
div.fragment {
  background-color: var(--card);
  color: var(--on-card);
  border: 1px solid var(--borders);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

pre.fragment {
  background-color: var(--card);
  color: var(--on-card);
  border-color: var(--borders);
  white-space: pre;
  scrollbar-width: 0;
}
pre.fragment::-webkit-scrollbar {
  width: 0;
  height: 0;
}

span.icona {
  display: none;
}

table.directory td {
  padding-bottom: 20px;
}

/**
* Listing
*/
span.lineno {
  border-right: 1px solid var(--borders);
  background-color: transparent;
  color: var(--on-card);
}

span.lineno a {
  background-color: transparent;
}

.PageDoc .header::after, section .header::after, header.page-header::after {
  display: none !important;
}

div.summary {
  float: none;
  width: auto;
  margin-left: auto;
}

div.header {
  background: none;
}

h1 {
  word-wrap: break-word;
}

.breadcrumb li a::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb li:nth-child(2) a::before {
  display: none;
}

div.contents {
  margin-left: auto;
  margin-right: auto;
}
