/**
 * SPDX-FileCopyrightText: (c) 2019 Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: (c) 2017 Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

main section {
  margin-top: 20px;
}

.markdown-output img {
  max-width: 100%;
}

// For kde.org
.hero {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;

  &.develop {
    background-image: url(../../assets/hero-develop.png);
  }
}

/* fix for planet.kde.org */
.eventDateTime--hover.EVENT_DATE_TIME_CLASS.popover {
  display: none;
}
